/* You can add global styles to this file, and also import other style files */
@import './_colors.scss';

.main_color{
  color: $primary;
}
.sec_color{
  color: $secodary;
}
.gray{
  color: $gray;
}
